@charset "utf-8";

/* 폰트 */
@import url("./eu_css_import/font.css");
/* 폰트 */
@import url("./eu_css_import/us-500.css");
@import url("./eu_css_import/us-510.css");
@import url("./eu_css_import/us-600.css");
@import url("./eu_css_import/us-610.css");
@import url("./eu_css_import/us-810.css");
@import url("./eu_css_import/us-820.css");
@import url("./eu_css_import/us-860.css");
@import url("./eu_css_import/us-850.css");
@import url("./eu_css_import/us-900.css");
@import url("./eu_css_import/us-910.css");
@import url("./eu_css_import/us-720.css");


/* default css */
html, body {
    width: 100%;
    max-width: 1920px;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    font-family: 'NotoSansKR-400';
    margin: 0 auto;
    position: relative;
} /* 충돌 생길 수 있는 부분 마킹 */

.page_wrap {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
} 

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
    color: #1B242C;
}

h1, h2, h3, h4, h5, h6, span, p {
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: "NotoSansKR-400";
}

/* input, textarea, selectbox, radio, checkbox css 초기화 */
textarea.eu_textarea, select.eu_select, input.eu_input {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #F0F3F5;
    resize: none;
}

textarea.eu_textarea {
    box-sizing: border-box;
    padding: 8px 4px;
    text-indent: 4px;
}

select.eu_select {
    text-indent: 3px;
    font-family: "NotoSansKR-400";
}


select.eu_select:focus {
    outline: none;
    border:1px solid #9EA8B3;
}

select.eu_select::placeholder {
    font-family: 'NotoSansKR-400';
    color: #9EA8B3;
}

input[type="text"].eu_input:focus, textarea.eu_textarea:focus, select.eu_select:focus, input.eu_input:focus {
    outline: none;
    background-color: #fff;
    border: 1px solid #9EA8B3;
}

input[type="radio"].eu_input {
    appearance: none;
    background-color: #fff;
    border-radius: 51%;
    position: relative;
    border: 1px solid #E9ECEF;
    width: 16px;
    height: 16px;
    cursor: pointer;
}

input[type="radio"].eu_input:focus {
    outline: none;
    border:1px solid #9EA8B3;
}

input[type="radio"].eu_input:checked {
    border: 1px solid #E9ECEF;
    background-color: #fff;
}

input[type="radio"].eu_input:checked::after{
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    background-color: #007CBD;
    border-radius: 51%;
    width: 8px;height: 8px;
}

input[type="checkbox"].eu_input {
    appearance: none;
    width: 16px;height: 16px;
    border: 1px solid #e9ecef;
    background-color: #fff;
    margin: 0;
    cursor: pointer;
    position: relative;
    border-radius: 2px;
    top: 2px;
    cursor: pointer;
}

input[type="checkbox"].eu_input:checked {
    background-color: #007CBD;
}

input[type="checkbox"].eu_input:checked::after {
    content: "";
    position: absolute;
    width: 8px;height: 8px;
    /* 절대경로 확인 필요 */
    background: url(../images/checked.png) no-repeat;
    /* 절대경로 확인 필요 */
    background-size: contain;
    top: 4px;
    left: 3px;
}
input.eu_input[readonly] {
    cursor: default;
    outline: transparent;
    background-color: #F5F7F9;
}

input.eu_input[readonly]:focus {
    outline: none;
    background-color: #F5F7F9;
    border: 1px solid transparent;
}

input[type="radio"].eu_input {
    margin: 3px 8px 0 0;
}

input::placeholder {
    color: #9EA8B3;
    font-size: 15px;
    font-family: 'NotoSansKR-400';
    text-indent: 3px;
}

input[type="text"].eu_input {
    text-indent: 3px;
    color: #9EA8B3;
    font-size: 15px;
    font-family: 'NotoSansKR-400';
    box-sizing: border-box;
    padding: 0px 4px;
}

input[type="text"].eu_input::placeholder {
    font-family: 'NotoSansKR-400';
    color: #9EA8B3;
    text-indent: 3px;
    font-size: 15px;
}

label.eu_label {
    margin-right: 12px;
    color: #555F6D;
    cursor: pointer;
    font-size: 15px;
}

select.eu_select {
    color: #9EA8B3;
    font-size: 13px;
}

input.eu_input:focus::-webkit-input-placeholder {
    color: transparent;
}
textarea.eu_textarea:focus::-webkit-input-placeholder {
    color: transparent;
}
input.eu_input:focus::placeholder {
    color: transparent;
}
textarea.eu_textarea:focus::placeholder {
    color: transparent;
}


/* input, textarea, selectbox, radio, checkbox css 초기화 */
/* default css */

/* gnb css */
header.eu_page_head {
    width: 100%;
    max-width: 1280px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0 auto;
    font-family: 'NotoSansKR-500';
    position: relative;
} /* 충돌 생길 수 있는 부분 마킹 */

header.eu_page_head nav.eu_gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.eu_page_head {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.eu_page_logo_box {
    width: 150px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eu_page_logo_box img {
    width: 100%;
    cursor: pointer;
}

.eu_page_menu_bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 700px;
    height: 100%;
}

.eu_page_menu_bar li {
    width: calc(100% / 6);
    position: relative;
    text-align: center;
    height: 100%;
}

.eu_page_menu_bar > li > a {
    font-size: 17px;
    height: 100%;
    display: inline-flex;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.eu_sub_menu {
    position: absolute;
    width: 100%;
    top: 130px;
    z-index: 3;
    height: auto;
    /* 
     */
    display: none;
}

.eu_sub_menu.open {
    /* opacity: 1;
    visibility: visible; */
}

.eu_sub_menu > li {
    width: 100%;
    font-family: 'NotoSansKR-400';
    font-size: 15px;
    margin-bottom: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.eu_sub_menu > li {
    width: 100%;
    height: 20px;
}

.eu_sub_menu > li > a {
    height: 100%;
}

.eu_sub_menu > li > a:hover {
    color: #007CBD;
    font-family: 'NotoSansKR-500';
}

.account_modal {
    position: absolute;
    display: none;
}

.eu_page_bg {
    display: none;
    width: 100%;
    max-width: 1280px;
    position: absolute;
    height: 236px;
    top: 100px;
    background-color: #fff;
    border: 1px solid #F0F3F5;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    z-index: 2;
}

/* gnb css */



/* footer css */
.eu_footer {
    width: 100%;
    max-width: 1920px;
    height: 150px;
    background-color: #F5F7F9;
    margin: 0 auto;
}/* 충돌 생길 수 있는 부분 마킹 */

.eu_footer_inner {
    width: 1280px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.eu_footer_inner .ft_flex {
    padding: 0 40px 0 0;
    color: #555F6D;
}

.eu_footer_inner .ft_flex:nth-child(2) {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    box-sizing: border-box;
    font-size: 13px;
    color: #555F6D;
    font-family: 'NotoSansKR-500';
}

.eu_footer_inner .ft_flex a {
    color: #555F6D;
}

.eu_footer_inner .ft_flex img {
    width: 201px;
}

.eu_footer_inner .ft_flex .terms {
    margin-bottom: 8px;
}

.eu_footer_inner .ft_flex .terms a {
    margin-right: 10px;
    position: relative;
}

.eu_footer_inner .ft_flex .terms a:nth-child(1):after {
    content: "|";
    position: absolute;
    top: -1px;
    right: -9px;
    cursor: default;
    color: #9EA8B3;
}

.eu_footer_inner .ft_flex .address {
    display: flex;
    flex-direction: row;
    margin-bottom: 4px;
}

.eu_footer_inner .ft_flex .address p {
    font-family: 'NotoSansKR-500';
}

.eu_footer_inner .ft_flex .copyright {

}

.eu_footer .address {
    display: flex;
    justify-content: center;
    align-items: center;
}

.eu_footer .address p {
    margin: 0 15px 0 0;
    position: relative;
}

.eu_footer .address p:first-child::after {
    content: "|";
    position: absolute;
    top: -1px;
    right: -10px;
    color: #9EA8B3;
}

.eu_footer .copyright {
    
}

/* footer css */

/* icon hover color css guideline */

.icon_color {

}

.icon_color:hover {
    color: #1B242C;
    filter: opacity(0.7) drop-shadow(0 0 0 #1B242C);
}

/* icon hover color css guideline */

/* button hover css guideline */

.button_color {
    transition: all 0.2s;
}

button[type="submit"].eu_button.bg_w {
    width: 100%;
    background-color: #fff;
    border: 1px solid #007CBD;
    height: 40px;
    color: #007CBD;
    border-radius: 4px;
    transition: all 0.2s;
    font-size: 17px;
    font-family: 'NotoSansKR-500';
}

button[type="submit"].eu_button.bg_b {
    width: 100%;
    background-color: #007CBD;
    border: 1px solid #007CBD;
    height: 40px;
    color: #fff;
    border-radius: 4px;
    transition: all 0.2s;
    font-size: 17px;
    font-family: 'NotoSansKR-500';
}

button.eu_button {
    appearance: none;
    border-radius: 4px;
    transition: all 0.2s;
    cursor: pointer;
    font-family: 'NotoSansKR-500';
}

button.eu_button:hover {
    color: #fff !important;
    background-color: #00466B !important;
}

/* button hover css guideline */

/* scrollbar guideline */

.scrollbox::-webkit-scrollbar {
    width: 4px;
    background: #E9ECEF;
    border-radius: 10px;
}

.scrollbox::-webkit-scrollbar-thumb{
    width: 4px;
    background: #9EA8B3;
    border-radius: 10px;
}

.scrollbox::-webkit-scrollbar-track {
    width: 4px;
    background: #E9ECEF;
    border-radius: 10px;
}

/* scrollbar guideline */

.grid_1280_12 {
    display: grid;
    grid-template-columns: repeat(12, minmax(0, 1fr));
    gap: 10px;
}

/* pagination */

.pagination_box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 32px 0 104px 0;
}

.pagination_box > ul {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination_box > ul > li:not(:last-child) {
    margin-right: 12px;
}

.pagination_box > ul > li {
    width: 30px;height: 30px;
}

.pagination_box > ul > li > a {
    display: inline-flex;
    width: 100%;height: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #9EA8B3;
    background-color: #fff;
    border: 1px solid #F0F3F5;
    border-radius: 2px;
    transition: all 0.2s;
}

.pagination_box > ul > li > a:hover {
    background-color: #007CBD;
    color: #fff;
    border: 1px solid #007CBD;
}

.pagination_box > ul > li > a.page_curr {
    background-color: #007CBD;
    color: #fff;
    border: 1px solid #007CBD;
}

.pagination_box > ul > li > a.page_first {
    background: url(../images/icon/pg-first-left.png) no-repeat;
    background-size: 24px 24px;
    width: 100%;height: 100%;
    background-position: center center;
}

.pagination_box > ul > li > a.page_first:hover {
    background: url(../images/icon/pg-first-left-w.png) no-repeat;
    background-size: 24px 24px;
    width: 100%;height: 100%;
    background-position: center center;
    background-color: #007CBD;
}

.pagination_box > ul > li > a.page_prev {
    background: url(../images/icon/pg-left.png) no-repeat;
    background-size: 24px 24px;
    width: 100%;height: 100%;
    background-position: center center;
}

.pagination_box > ul > li > a.page_prev:hover {
    background: url(../images/icon/chevron-left-w.png) no-repeat;
    background-size: 24px 24px;
    width: 100%;height: 100%;
    background-position: center center;
    background-color: #007CBD;
}

.pagination_box > ul > li > a.page_next {
    background: url(../images/icon/pg-right.png) no-repeat;
    background-size: 24px 24px;
    width: 100%;height: 100%;
    background-position: center center;
}

.pagination_box > ul > li > a.page_next:hover {
    background: url(../images/icon/chevron-right-w.png) no-repeat;
    background-size: 24px 24px;
    width: 100%;height: 100%;
    background-position: center center;
    background-color: #007CBD;
}

.pagination_box > ul > li > a.page_last {
    background: url(../images/icon/pg-last-right.png) no-repeat;
    background-size: 24px 24px;
    width: 100%;height: 100%;
    background-position: center center;
}

.pagination_box > ul > li > a.page_last:hover {
    background: url(../images/icon/pg-last-right-w.png) no-repeat;
    background-size: 24px 24px;
    width: 100%;height: 100%;
    background-position: center center;
    background-color: #007CBD;
}

/* pagination */



/* table */
table tbody tr:hover {
    background-color: #F5F7F9;
}
/* table */


















































































/* 컴포넌트 css */
















































/* 컴포넌트 css */