@charset "utf-8";

body {
    width: 100%;
    max-width: 1920px;
    background-color: #1B242CB2;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    height: 100vh;
}

.pop_modal_application {
    width: 100%;
    max-width: 630px;
    height: 1042px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border: 1px solid #F0F3F5;
    border-radius: 8px;
}

.pop_modal_application .pop_application_title_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    box-sizing: border-box;
    padding: 8px;
    border-bottom: 1px solid #F0F3F5;
}

.pop_modal_application .pop_application_title_box p {
    color: #1B242C;
    font-size: 15px;
    font-family: 'NotoSansKR-500';
}

.pop_modal_application .pop_application_title_box button {
    appearance: none;
    border: none;
    background-color: transparent;
    background: url(../images/icon/x-btn.png) no-repeat;
    background-size: cover;
    width: 24px;height: 24px;
    cursor: pointer;
}

.pop_application_content_box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    flex-wrap: nowrap;
    box-sizing: border-box;
    padding: 16px;
    height: 786px;
}

.pop_application_content_box > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-bottom: 16px;
}

.pop_application_content_box > div > div {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pop_application_content_box > div > div input.address_input {
    width: 100%;
    max-width: 438px;
    height: 40px;
    box-sizing: border-box;
    padding: 8px;
    color: #555F6D;
    font-family: 'NotoSansKR-R';
    /* letter-spacing: 1px; */
}

.pop_application_content_box > div > div input.address_input::placeholder {
    color: #555F6D;
    font-size: 15px;
}

.pop_application_content_box > div p {
    margin-bottom: 4px;
    font-size: 17px;
    color: #1B242C;
}

.pop_application_content_box button.search_address {
    appearance: none;
    background-color: #007CBD;
    width: 144px;
    height: 40px;
    border: none;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'NotoSansKR-500';
}

input[type="text"].readonly {
    background-color: #F5F7F9;
    cursor:default;
    
}

input[readonly] {
    cursor: default;
    outline: transparent;
    background-color: #F5F7F9;
}

input[readonly]:focus {
    outline: none;
    border: 1px solid transparent;
}

.pop_application_content_box .detail_address {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pop_application_content_box .detail_address > div {
    width: 100%;
    max-width: 291px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.pop_application_content_box .detail_address > div p {
    color: #1B242C;
}

.pop_application_content_box .detail_address > div input {
    width: 100%;
    max-width: 291px;
    height: 40px;
    margin: 0;
    box-sizing: border-box;
    padding: 8px;
    color: #555F6D;
    font-family: 'NotoSansKR-400';
    /* letter-spacing: 1px; */
}

.pop_application_content_box .detail_age {
    color: #555F6D;
}

.pop_application_content_box .detail_age > p {
    margin-bottom: 15px;
}

.pop_application_content_box .detail_age > div {
    justify-content: flex-start;
}

.pop_application_content_box .detail_age > div input {
    margin: 3px 8px 0 0;
}

.pop_application_content_box .detail_age > div label {
    margin-right: 11px;
}

.pop_application_content_box .detail_address > div input::placeholder {
    color: #555F6D;
    font-size: 15px;
}

.pop_application_content_box .detail_address > div input.user_current {
    color: #9EA8B3;
}

.pop_application_content_box .detail_address > div input.user_current::placeholder {
    color: #9EA8B3;
}

.pop_application_content_box .detail_sex {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    color: #555F6D;
}

.pop_application_content_box .detail_sex > div {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.pop_application_content_box .detail_sex > div p {
    margin-bottom: 15px;
}

.pop_application_content_box .detail_sex > div input[type="radio"] {
    margin: 3px 0 0 0;
}

.pop_application_content_box .detail_sex > div label {
    margin-right: 11px;
}

.pop_application_content_box .detail_sex > div.flex_1 {
    max-width: 120px;
    font-size: 15px;
    text-align: center;
}

.pop_application_content_box .detail_sex > div.flex_1 > div > label:last-child {
    margin: 0;
}

.pop_application_content_box .detail_sex > div.flex_2 {
    max-width: 346px;
    font-size: 15px;
    text-align: center;
}

.pop_application_content_box .detail_sex > div.flex_2 > div > label:last-child {
    margin: 0;
}

.pop_application_content_box .detail_time {

}

.pop_application_content_box .detail_time p {
    margin-bottom: 15px;
}

.pop_application_content_box .detail_time > div {
    justify-content: flex-start;
}

.pop_application_content_box .detail_time > div input {
    margin-right: 8px;
}

.pop_application_content_box .detail_time > div label {
    margin-right: 11px;
}

.pop_application_content_box .detail_through {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pop_application_content_box .detail_through > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 291px;
}

.pop_application_content_box .detail_through > div select {
    width: 100%;
    max-width: 291px;
    height: 40px;
    margin: 0;
    box-sizing: border-box;
    font-family: 'NotoSansKR-400';
    font-size: 17px;
    color: #9EA8B3;
}

.pop_application_content_box .detail_ai > div {
    justify-content: flex-start;
}

.pop_application_content_box .detail_ai > div input {
    margin: 3px 8px 0 0;
}