@charset "utf-8";

/* 500 modal */


/* 

세 개의 모달 타입이 동일함으로, 같은 classname을 가진 세개의 element를 생성하였음.
추후 데이터베이스와 연결하여 scrtipt 사용시 추가 class 부여 필요함 

*/


.keypoint_modal_3 {
    width: 400px;
    min-width: 400px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    border-radius: 4px;  
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    overflow: auto;
    background-color: #fff;
}

.k_modal_box_3 {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.k_scroll_box_3 {
    overflow-y: auto;
    width: 100%;
    max-width: 398px;
    border: 1px solid #F0F3F5;
    position: relative;
}

.k_scroll_box_3 > div {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.k_scroll_box_3 > div:nth-child(1) {
    padding-bottom: 0;
}

.k_scroll_box_3 > div .label {
    width: 100%;
    max-width: 368px;
    height: 42px;
    background-color: #F5F7F9;
    border: 1px solid #E9ECEF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    padding: 8px;
    border-radius: 4px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.k_scroll_box_3 > div .label:hover {
    background-color: #E9ECEF;
    
}

.k_scroll_box_3 .eu_modal_content_box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
    border: 1px solid #F0F3F5;
    padding: 8px 8px 0 8px;
    box-sizing: border-box;
}

.k_scroll_box_3 .eu_modal_content_box > div {
    width: 100%;
}

.k_scroll_box_3 .eu_more_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.eu_more_box > div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.eu_more_box p {
    color: #555F6D;
    font-size: 13px;
    text-indent: 30px;
    position: relative;
}

.eu_more_box p span {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 51%;
    text-indent: 0;
    left: 5px;
    top: 1px;
    background-color: #F5F7F9;
    color: #9EA8B3;
    font-size: 13px;
    text-align: center;
}

.eu_mb_16 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.k_scroll_box_3 .eu_mb_16 {
    margin-bottom: 8px;
    height: 48px;
    align-items: flex-end;
}

.k_scroll_box_3 .eu_more_box {
    height: 28px;
}

.latitude {
    height: 40px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #F0F3F5;
    box-sizing: border-box;
    padding: 7px 8px;
    color: #555F6D;
    border-radius: 4px;
}

.longitude {
    height: 40px;
    width: 100%;
    height: 40px;
    width: 100%;
    background-color: #fff;
    border: 1px solid #F0F3F5;
    box-sizing: border-box;
    padding: 7px 8px;
    color: #555F6D;
    border-radius: 4px;
}

.k_scroll_box_3 .eu_mb_16 .latitude {
    max-width: 168px;
}

.k_scroll_box_3 .eu_mb_16 .longitude {
    max-width: 168px;
}


.k_scroll_box_3 .tag_box {
    width: 100%;
    height: 88px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 0 0 16px 0;
    justify-content: space-between;
}

.k_scroll_box_3 .tag_box p {
    color: #1B242C;
}

.k_scroll_box_3 .tag_box input.eu_input {
    width: 100%;
    height: 40px;
}

.k_scroll_box_3 > div.image_box_wrap {
    padding-top: 0;
    padding-bottom: 0;
}

.k_scroll_box_3 > div.image_box_wrap .wrap_inner {
    width: 100%;
    background-color: #F5F7F9;
    border-radius: 4px;
}

.k_scroll_box_3 > div.image_box_wrap .wrap_inner > div {
    box-sizing: border-box;
    padding: 0 8px;
}

.k_scroll_box_3 .wrap_inner > div {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.k_scroll_box_3 .wrap_inner > div p {
    color: #555F6D;
    font-size: 15px;
    margin-right: 12px;
}

.k_scroll_box_3 .wrap_inner > div.eu_inner_change {
    height: 39px;
    border-bottom: 1px solid #F0F3F5;
}

.k_scroll_box_3 .wrap_inner > div.eu_inner_change select.eu_select {
    width: 100%;
    max-width: 237px;height: 32px;
}

.k_scroll_box_3 .wrap_inner > div.eu_inner_status {
    height: 42px;
    border-bottom: 1px solid #F0F3F5;
}

.k_scroll_box_3 .wrap_inner > div.eu_inner_status p {
    margin-right: 24px;
}

.k_scroll_box_3 .wrap_inner > div.image_box p {
    margin-right: 24px;
}

.k_scroll_box_3 .wrap_inner > div.image_box {
    height: 42px;
}
.k_scroll_box_3 .wrap_inner > div.eu_inner_message {
    height: 54px;
} 

.k_scroll_box_3 .wrap_inner > div.eu_inner_message input.eu_input {
    width: 257px;
    height: 38px;
}

.eu_inner_message {
    border-bottom: none;
}

.k_scroll_box_3 > div.submit_box {
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding-top: 12px;
}

.k_scroll_box_3 > div.submit_box button.eu_button {
    max-width: 177px;
}

.k_scroll_box_3 > div.submit_box button.w_full {
    width: 100%;
    max-width: none;
}


/* 500 modal */

/* icon css */

.label_icon_box {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.icon_box {
    width: 24px;
    height: 24px;
    cursor: pointer;
    margin-left: 5px;
}

.eu_inner_icon_box .icon_box {
    width: 20px;height: 20px;
    cursor: pointer;
    margin-left: 5px;
}

.label_icon_box .icon_box:hover {
    color: #1B242C;
    filter: opacity(0.7) drop-shadow(0 0 0 #1B242C);
}

.eu_inner_icon_box .icon_box:hover {
    color: #1B242C;
    filter: opacity(0.7) drop-shadow(0 0 0 #1B242C);
}

.label_icon_box .view_icon {
    background: url(../../images/work/ctrl-btn-04.png) no-repeat;
    background-size: cover;
}

.label_icon_box .cursor_icon {
    background: url(../../images/work/mouse.png) no-repeat;
    background-size: cover;
}

.label_icon_box .bin_icon {
    background: url(../../images/work/trash.png) no-repeat;
    background-size: cover;
}

.eu_inner_icon_box .more_icon {
    
    background: url(../../images/work/ctrl-btn-11.png) no-repeat;
    background-size: cover;
}

.eu_inner_icon_box .view_icon {
    background: url(../../images/work/ctrl-btn-04.png) no-repeat;
    background-size: cover;
}

.eu_inner_icon_box .bin_icon {
    background: url(../../images/work/trash.png) no-repeat;
    background-size: cover;
}

/* icon css */

.k_scroll_box_3.h_913 {
    height: 913px;
}

.k_scroll_box_3.h_874 {
    height: 874px;
}

.k_scroll_box_3.h_859 {
    height: 859px;
}

.title_box p {
    font-size: 17px;
    font-family: 'NotoSansKR-500';
}