@charset "utf-8";


/* 600 section */
.eu_page_check_box {
    width: 100%;
    max-width: 1920px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.eu_page_check_box ul {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding: 20px 0;
}

.eu_page_check_box ul > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 71px;height: 48px;
    font-size: 21px;
}

.eu_page_check_box ul > li:nth-child(2) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 110px;height: 48px;
    font-size: 21px;
}

.eu_page_check_box ul > li > a {
    display: inline-flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    color: #9EA8B3;
}

.eu_sub-menu-curr {
    background: #ff805b;
    color: #fff !important; 
    border-radius: 24px;
    font-weight: 500;
}

.eu_page_check_box ul > li > a:hover {
    background: #ff805b;
    color: #fff;
    border-radius: 100px;
    font-weight: 500;
}

.eu_rabel_check_box {
    width: 100%;
    background-color: #F0F3F5;
    height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    padding: 0 20px;
}

.eu_rabel_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.eu_rabel_wrapper > button {
    width: 110px;
    height: 32px;
    background: inherit;
    border: none;
    cursor: pointer;
    box-shadow: none;
    color: #9EA8B3;
    background-color: #fff;
    border: 1px solid #E9ECEF;
    border-radius: 4px;
    font-size: 15px;
}

.eu_rabel_wrapper > button:hover {
    border: 1px solid #007CBD;
    color: #007CBD;
}

.eu_rabel_wrapper > button.eu_curr {
    border: 1px solid #007CBD;
    color: #007CBD;
}

.eu_content_box {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.eu_content_text_box {
    width: 100%;
    max-width: 1247px;
}

.eu_content_info{
    width: 100%;
    max-width: 1247px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.eu_content_info .eu_flex_1 {
    width: 50%;
    max-width: 613px;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    padding: 0 0 16px 0;
    justify-content: space-between;
}

.eu_content_info .eu_flex_1 p, .eu_content_info .eu_flex_2 p {
    color: #1B242C;
    font-size: 15px;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.eu_content_info .eu_flex_2 {
    flex: 2;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 0 0 20px 0;
    justify-content: space-between;
}

.eu_content_info .eu_flex_2 input[type="text"] {
    width: 100%;
    max-width: 1145px;
    height: 100px;
    border-radius: 4px;
    box-sizing: border-box;
    padding: 7px 8px;
}

.eu_content_info input[type=text] {
    width: 100%;
    max-width: 511px;
    border: 1px solid #F0F3F5;
    color: #9EA8B3;
    padding: 0;
    box-sizing: border-box;
    padding: 7px 8px;
    height: 32px;
    border-radius: 4px;
}

.eu_content_info input[type=text]:focus {
    outline: none;
    background-color: #fff;
    color: #9EA8B3;
    border: 1px solid #9ea8b3;
}

.eu_content_info input[type=text]::placeholder {
    color: #9EA8B3;
}

.eu_content_detail {
    width: 100%;
    max-width: 1247px;
    height: 567px;
    background-color: #F5F7F9;
    border: 1px solid #F0F3F5;
    box-sizing: border-box;
    padding: 20px;
    border-radius: 4px;
}

.eu_content_detail p {
    color: #1B242C;
    font-size: 15px;
    text-align: justify;
    font-weight: 400;
    line-height: 25.eu_5px;
}

.eu_content_detail p span.eu_yellow_rabel {
    background-color: #F6DDB3;
}

.eu_content_detail p span.eu_green_rabel {
    background-color: #BDDCBD;
}
/* 600 section */

/* 600 modal */
.eu_modal {
    width: 600px;
    height: auto;
    display: flex;
    position: absolute;
    bottom: 20px;
    right: 20px;
    box-sizing: border-box;
    border: 1px solid #F0F3F5;
    box-shadow: 0px 2px 6px 2px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    overflow: auto;
    background-color: #fff;
}

.eu_scrollbox {
    width: 100%;
    position: relative;
    overflow-y: auto;
    height: 744px;
}

.eu_scrollbox::-webkit-scrollbar {
    width: 4px;
    background: #E9ECEF;
    border-radius: 10px;
}

.eu_scrollbox::-webkit-scrollbar-thumb{
    width: 4px;
    background: #9EA8B3;
    border-radius: 10px;
}

.eu_scrollbox::-webkit-scrollbar-track {
    width: 4px;
    background: #E9ECEF;
    border-radius: 10px;
}

.eu_modal_box {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}

.eu_inner_content_box {
    width: 100%;
}

.eu_question_list_box {
    width: 100%;
}

.eu_inner_content_box > div {
    width: 100%;
    border-bottom: 1px solid #F0F3F5;
    box-sizing: border-box;
    padding: 16px 16px 15px 16px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
    color: #555F6D;
}

.eu_userable_edit {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
}

/*  
    재사용성을 위해 div:nth-child() 로 스타일링 하는 사용
    추가적인 스타일링 및 수정 사항있을 시 변경 가능
*/

.eu_userable_edit div:nth-child(2) {
    width: 100%;
    max-width: 502px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: column;
}

.eu_userable_edit div:nth-child(2) span, .eu_userable_edit div:nth-child(2) p,
 .eu_userable_edit div:nth-child(2) select, .eu_userable_edit div:nth-child(2) textarea, 
 .eu_userable_edit div:nth-child(2) input, .eu_userable_edit div:nth-child(2) label {
    margin-bottom: 8px;
}

.eu_userable_edit div:nth-child(1) {
    width: auto;
    font-size: 17px;
}

.eu_userable_edit div:nth-child(1) span,.eu_userable_edit div:nth-child(1) p,
.eu_userable_edit div:nth-child(1) input,.eu_userable_edit div:nth-child(1) textarea,
.eu_userable_edit div:nth-child(1) h1,.eu_userable_edit div:nth-child(1) h2,
.eu_userable_edit div:nth-child(1) h3,.eu_userable_edit div:nth-child(1) h4,
.eu_userable_edit div:nth-child(1) h5,.eu_userable_edit div:nth-child(1) h6,
.eu_userable_edit div:nth-child(1) a,.eu_userable_edit div:nth-child(1) ul {
    margin-bottom:8px;
}

/*  
    재사용성을 위해 div:nth-child() 로 스타일링 하는 사용
    추가적인 스타일링 및 수정 사항있을 시 변경 가능
*/

.eu_inner_content_box > div .eu_userable_edit p {
    font-size: 17px;
    font-family: 'NotoSansKR-500';
}

.eu_inner_content_box textarea {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #F0F3F5;
    box-sizing: border-box;
    padding: 8px 4px;
    height: 64px;
    resize: none;
    font-family: 'NotoSansKR-400';
    color: #9EA8B3;
    text-indent: 8px;
    font-size: 15px;
}

.eu_inner_content_box textarea:focus {
    border:1px solid #9EA8B3;
}

.eu_inner_content_box textarea::placeholder {
    color: #9EA8B3;
    font-family: 'NotoSansKR-400';
}


.eu_inner_content_box > div select {
    width: 100%;
    max-width: 502px;
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid #F0F3F5;
    color: #9EA8B3;
    height: 32px;
    margin-bottom: 8px;
    border-radius: 4px;
    font-size: 15px;
}


.eu_inner_content_box > div input {
    width: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #F0F3F5;
    box-sizing: border-box;
    color: #9EA8B3;
    padding: 8px 4px;
    height: 66px;
    border-radius: 4px;
}

.eu_inner_content_box > div input:focus {
    outline:none;
    border:1px solid #9EA8B3;
}

.eu_rabel_circle {
    border: none;
    width: 20px;
    height: 20px;
    border-radius: 51%;
    color: #fff;
    font-size: 13px;
}

.eu_yellow_rabel_btn {
    background-color:rgba(225, 140, 0, 0.3);
}

.eu_green_rabel_btn {
    background-color: rgba(34, 139, 34, 0.3);
}

.eu_red_rabel_btn {
    background-color: rgba(240, 128, 128, 0.3);
}

.eu_submit_box {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    position: relative;
}

.eu_submit_box_wrap {
    width: 100%;
    max-width: 568px;
    background-color: #F5F7F9;
    border-radius: 4px;
    color: #555F6D;
    box-sizing: border-box;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    height: 171px;
    flex-direction: column;
}

.eu_submit_box_wrap > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 15px;
    line-height: 25.5px;
    box-sizing: border-box;
    padding: 8px 0;
}

.eu_submit_box_wrap > div:first-child {
    padding-top: 0px;
    border-bottom: 1px solid #F0F3F5;
}

.eu_submit_box_wrap > div:last-child {
    padding-bottom: 0px;
}

.eu_submit_box_wrap input[type=radio] {
    appearance: none;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 51%;
    border: 1px solid #E9ECEF;
    position: relative;
    z-index: 2;
}

.eu_submit_box_wrap input[type=radio]:focus {
    outline: none;
    border:1px solid #9EA8B3;
}

.eu_submit_box_wrap input[type=radio]:checked {
    border: 1px solid #E9ECEF;
    display: inline-block;
    width: 16px;height: 16px;
    background-color: #fff;
}

.eu_submit_box_wrap input[type=radio]:checked::after{
    content: "";
    position: absolute;
    top: calc(50% - 4px);
    left: calc(50% - 4px);
    width: 15px;height: 15px;
    background-color: #007CBD;
    border-radius: 51%;
    width: 8px;height: 8px;
}

.eu_submit_box_wrap > div.eu_disagree_select_box {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 39px;
}

.eu_disagree_select_box select.eu_select {
    width: 100%;
    max-width: 80%;
    height: 32px;
}

.eu_submit_box_wrap > div.eu_disagree_detail {
    width: 100%;
    height: 40px;
}

.eu_submit_box_wrap > div.eu_disagree_detail input {
    width: 100%;
    max-height: 31px;
    height: 31px;
}



.eu_submit_box_wrap > div label.eu_rabel {
    margin-right: 16px;
}

.eu_submit_box_wrap > div > p {
    font-size: 15px;
    font-family: 'NotoSansKR-400';
    color: #555F6D;
    margin-right: 24px;
}

.eu_inner_content_box > div .eu_user_set_box .eu_length_box {
    position: relative;
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    right: 10px;
    box-sizing: border-box;
    height: 0;
    top: -24px;
}

.eu_inner_content_box > div .eu_user_set_box .eu_length_box p {
    margin-bottom: 0 !important;
    color: #9EA8B3;
    font-size: 13px;
}

.eu_text_count_box {
    height: 162px;
}
/* 600 modal */

