@charset "utf-8";

/* page component change section */

.eu_850_main {
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.eu_info_box {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 24px;
}

.eu_info_box p {
    font-size: 17px;
    color: #555F6D;
}

.eu_850_table_box {
    width: 100%;
}

thead.eu_thead {
    width: 100%;
    background-color: #F5F7F9;
    box-shadow: 0px -1px 0px 0px #E5E5E5 inset;
    height: 62px;
}

tbody.eu_tbody {
    text-align: center;
    color: #555F6D;
    font-size: 15px;
}

.eu_850_table_box .eu_850_table tbody tr {
    height: 48px;
    border-bottom: 1px solid #F0F3F5;
    box-sizing: border-box;
    padding: 12px 0;
}

.eu_850_table_box .eu_850_table tbody tr:hover {
    background-color: #F5F7F9;
}

.eu_button.get_submit {
    appearance: none;
    background-color: #fff;
    border: 1px solid #007CBD;
    cursor: pointer;
    color: #007CBD;
    width: 102px;
    height: 32px;
    border-radius: 4px;
    font-family: 'NotoSansKR-500';
    font-size: 15px;
    transition: all 0.2s;
}

.eu_button.get_submit:hover {
    box-shadow: 0px 2px 6px 2px #00000026;
}

.eu_button.suc_submit {
    appearance: none;
    background-color: transparent;
    border: none;
    cursor: default;
    font-family: 'NotoSansKR-400';
    font-size: 15px;
    color: #555F6D;
}

.eu_button.suc_submit:hover {
    background-color: transparent !important;
    border: none !important;
    color: #555F6D !important;
}

td p {
    display: inline-block;
}

td.flex_row_box {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 12px 0;
}

td.flex_row_box > div.eu_850_pdf_btn:nth-child(1) {
    margin-right: 12px;
    position: relative;
}

td.flex_row_box > div.eu_850_pdf_btn:nth-child(1):after {
    content: "|";
    position: absolute;
    right: -6px;
    color: #555F6D;
}

.eu_850_pdf_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.eu_850_pdf_btn > a{
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: #555F6D;
}

.eu_850_pdf_btn > a > i {
    display: inline-block;
    width: 23px;height: 23px;
    background: url(../../images/icon/Icon-pdf.png) no-repeat;
    background-size: 18px 23px;
    margin-left: 4px;
}

/* page component change section */